.header-gradient{
    background: rgb(234,104,46);
    background: linear-gradient(90deg, rgba(234,104,46,1) 0%, rgba(252,200,1,1) 10%, rgba(252,200,1,1) 70%, rgba(234,104,46,1) 100%);
}

.centered-button{
    display: flex;
    align-items: center;
}

.centered-button.show{
    border-color: white;
}

.centered-button::after{
    color: white;
}