.hero-section-parallax{
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    min-height: 100svh;
    max-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-img-1{
    background-image: url(../images/banner1.png);
    background-position: right;
}

.parallax-img-2{
    background-image: url(../images/banner2.png);
}

.inside-parallax-container{
    height: 100svh;
    z-index: 4;
}

.dark-overlay::before{
    content: "";
    width: 100%;
    height: 100svh;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 1;
    position: absolute;
}

.banner-logo{
    width: 100%;
}

.logo-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15svh;
    position: relative;
    z-index: 4;
}

.container-fluid.over-hero{
    height: 100svh;
    z-index: 2;
}

.over-hero-wrapper{
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100svh;
}

p.selfWrittingText{
    color: white;
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
}

span {
    color: white;
    border-right: .03em solid;
    animation: caratteri 1s steps(1) infinite;
}
  
@keyframes caratteri {
    50% {
      border-color: transparent;
    }
}


@media (width < 768px){
    .banner-logo{
        width: 100%;
    }
    .hero-section{
        max-width: 100%;
    }
    .container.over-hero{
        flex-direction: row;
        margin: 0;
        margin-top: 1rem;
        padding: 0;
    }
    .textWrapper{
        text-align: center;
        min-width: 100vw;
    }
}

@media (width > 1000px){
    .h1{
        font-size: 3.5rem;
    }
    
}   

@media (width > 1500px){
    .h1{
        font-size: 4.5rem;
    }
    
}

.competitionContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;  
    margin: 0 1.5rem 0 1.5rem;
}

.competitionItem{
    display: grid;
    place-items: center;
    width: 20vw;
    height: 50vh
}

.competitionItem .itemInside{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.5em;
    height: 100%;
    background-color: white;
}

.competitionItem .itemInside .competitionBanner{
    width: 100%;
    position: relative;
    aspect-ratio: 4/3;
}

.competitionItem .itemInside .competitionBanner .overImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.competitionItem .itemInside .competitionBanner .overImage .competitionDate{
    padding: 0.5em;
    margin-left: auto;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.567);
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.competitionItem .itemInside .competitionBanner .overImage .competitionDate img{
    object-fit: cover;
    aspect-ratio: 1/1;
}
.competitionItem .itemInside .competitionBanner .overImage .competitionDate p{
    margin: 0;
    padding: 0;
    color: white;
}

.competitionItem .itemInside .competitionBanner .overImage .competitionLocation{
    padding: 0.5em;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.567);
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.competitionItem .itemInside .competitionBanner .overImage .competitionLocation img{
    object-fit: cover;
    aspect-ratio: 1/1;
}
.competitionItem .itemInside .competitionBanner .overImage .competitionLocation p{
    margin: 0;
    padding: 0;
    color: white;
}

.competitionItem .itemInside .competitionBanner .bg-image{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 4/3;
    transition: filter 0.4s ease;
    border-radius: 0.5em;
}

.competitionItem .itemInside .competitionInfo{
    padding: 2%;
}

.competition-section{
    scroll-snap-type: x mandatory; 
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}





@media (width < 1300px) {
    .competitionItem{
        display: grid;
        place-items: center;
        width: 40vw;
        height: 70vh
    }
}

@media (width < 992px) {
    .competitionItem{
        display: grid;
        place-items: center;
        width: 70vw;
        height: 70vh
    }
} 

@media (max-width: 700px) {

}