.banner-container{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}
.banner-container::before{
    content: "";
    width: 100%;
    height: 300px;
    background-color: hsla(0, 0%, 0%, 0.5);
    position: absolute;
}

.banner-logo{
    height: 80%;
    object-fit: contain;
    
}

.textWrapper{
    margin-right: auto;
    margin-left: auto;
}
p.selfWrittingText{
    color: white;
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
}

span {
    color: white;
    border-right: .05em solid;
    animation: caratteri 1s steps(1) infinite;
}
  
@keyframes caratteri {
    50% {
      border-color: transparent;
    }
}

.container.over-banner{
    
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 3;
    
}

@media (width < 768px){
    .banner-logo{
        width: 100%;
    }
    .banner-container{
        max-width: 100%;
    }
    .container.over-banner{
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    .textWrapper{
        text-align: center;
        min-width: 100vw;
    }
}

@media (width > 1000px){
    .h1{
        font-size: 3.5rem;
    }
    
}   

@media (width > 1500px){
    .h1{
        font-size: 4.5rem;
    }
    
}
.competitionContainer{
    display: flex;
    justify-content: space-around;
    gap: 2rem;  
    margin: 0 1.5rem 0 1.5rem;
}

.competitionItem{
    display: grid;
    place-items: center;
    width: 325px;
    height: 450px;
}

.competitionItem .itemInside{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.competitionItem .itemInside .competitionBanner{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 4/3;
    transition: filter 0.4s ease;
}

.competitionItem .itemInside .competitionBanner:hover{
    filter: brightness(0.3);
}

.competitionItem .itemInside .competitionInfo{
    padding: 2%;
}

.competitionItem .itemInside .competitionInfo .competitionLocation{
    
}

.competitionSection{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .competitionItem {
        width: 98svw
    }
    
    .competitionItem div {
        width: 80%;
        height: 100%;
    }

    .competitionContainer {
        margin: 0 !important;
    }

    .competitionSection{
        padding: 0;
        display: block;
    }
}


@media (min-width: 992px) {
    
} 
@media (min-width: 1200px) {
    
}