.hero-section{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    min-height: 90svh;
}
.hero-section::before{
    content: "";
    width: 100%;
    height: 90svh;
    background-color: hsla(0, 0%, 0%, 0.5);
    position: absolute;
}

.container-fluid.over-hero{
    height: 90svh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-top: 1rem;
}

.logo-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    min-height: 90svh;
}

.banner-logo{
    object-fit: contain;
    width: 60%;
}

p.selfWrittingText{
    color: white;
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
}

span {
    color: white;
    border-right: .03em solid;
    animation: caratteri 1s steps(1) infinite;
}
  
@keyframes caratteri {
    50% {
      border-color: transparent;
    }
}


@media (width < 768px){
    .banner-logo{
        width: 100%;
    }
    .hero-section{
        max-width: 100%;
    }
    .container.over-hero{
        flex-direction: row;
        margin: 0;
        margin-top: 1rem;
        padding: 0;
    }
    .textWrapper{
        text-align: center;
        min-width: 100vw;
    }
}

@media (width > 1000px){
    .h1{
        font-size: 3.5rem;
    }
    
}   

@media (width > 1500px){
    .h1{
        font-size: 4.5rem;
    }
    
}
.competitionContainer{
    display: flex;
    justify-content: space-around;
    gap: 2rem;  
    margin: 0 1.5rem 0 1.5rem;
}

.competitionItem{
    display: grid;
    place-items: center;
    width: 325px;
    height: 450px;
}

.competitionItem .itemInside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.5em;
    background-color: white;
}

.competitionItem .itemInside .competitionBanner{
    width: 100%;
    position: relative;
    aspect-ratio: 4/3;
}

.competitionItem .itemInside .competitionBanner .overImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.competitionItem .itemInside .competitionBanner .overImage .competitionDate{
    padding: 0.5em;
    margin-left: auto;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.567);
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.competitionItem .itemInside .competitionBanner .overImage .competitionDate img{
    object-fit: cover;
    aspect-ratio: 1/1;
}
.competitionItem .itemInside .competitionBanner .overImage .competitionDate p{
    margin: 0;
    padding: 0;
    color: white;
}

.competitionItem .itemInside .competitionBanner .overImage .competitionLocation{
    padding: 0.5em;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.567);
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.competitionItem .itemInside .competitionBanner .overImage .competitionLocation img{
    object-fit: cover;
    aspect-ratio: 1/1;
}
.competitionItem .itemInside .competitionBanner .overImage .competitionLocation p{
    margin: 0;
    padding: 0;
    color: white;
}

.competitionItem .itemInside .competitionBanner .bg-image{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 4/3;
    transition: filter 0.4s ease;
    border-radius: 0.5em;
}

.competitionItem .itemInside .competitionInfo{
    padding: 2%;
}

.competitionItem .itemInside .competitionInfo .competitionLocation{
    
}

.competition-section{
    scroll-snap-type: x mandatory; 
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.competition-section article{
    display: inline-block;
    scroll-snap-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
    min-height: 60svh;
    height: 60svh;
    max-height: 60svh;
}

@media (max-width: 700px) {
    .competitionItem {
        width: 98svw
    }
    
    .competitionItem div {
        width: 80%;
        height: 100%;
    }

    .competitionContainer {
        margin: 0 !important;
    }

    .competition-section{
        padding: 0;
        display: block;
    }
}


@media (min-width: 992px) {
    
} 
@media (min-width: 1200px) {
    
}